<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="rank">
	<select id="all" resultType="apply.model.RankDto">
		select * from graph
	</select>
	
	<select id="one" resultType="apply.model.RankDto" parameterType="String" >
		select * from graph where month = #{month} 
	</select>
	
	<select id="month" resultType="apply.model.SubjectDto" parameterType="String">
	
	select *
from subject
where startTime like CONCAT (#{month3},'%')
order by studentCount desc
limit 5

	</select>
	
	<select id="use" resultType="apply.model.SubjectDto" parameterType="String">
select startTime, sum(studentCount) as sum
from subject
where startTime like CONCAT(#{year},'%')
	</select>

	<select id="radar" resultType="apply.model.SubjectDto">
select distinct(subjecttag)
from subject;
	</select>
	
	
		<select id="user_hap" resultType="apply.model.SubjectDto" parameterType="map">
select subjecttag, sum(studentCount) as sum
from subject
where subjecttag =#{user_hap_total}
and age like CONCAT(#{age},'%')
	</select>

</mapper>





