<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="subject">

	<select id="all" resultType="apply.model.SubjectDto">
		select * from subject
	</select>
	
	<select id = "unConfirmed" resultType="apply.model.SubjectDto">
		select * from subject where confirmed = 0
	</select>
	
	<select id="finish_all" resultType="apply.model.SubjectDto" parameterType="map">
		select * from subject 
		where
		<![CDATA[ endTime >= #{finish_date} ]]>
		and subjecttag=#{name}
		and confirmed = 1
	</select>
	
	
	
	
	<select id="one" resultType="apply.model.SubjectDto" parameterType="String">
		select * from subject where subjectName=#{a}
	</select>
	
	<update id="countup" parameterType="apply.model.SubjectDto">
		update subject
		set studentCount=studentCount+1
		where subjectName=#{subjectName}
	</update>
	
		<update id="fail" parameterType="apply.model.SubjectDto">
		update subject
		set studentCount=studentCount-1
		where subjectName=#{subjectName}
	 </update>
	 
	
	 <select id="create" parameterType="HashMap">	
	   ${sql}
      </select>
      
     
     
      <insert id="apply" parameterType="apply.model.SubjectDto">
      	insert into ${subjectName} values(#{subjectName},#{s_email})
      </insert>
      
      <delete id="delete" parameterType="apply.model.SubjectDto">
      delete from subject 
      where subjectNum = #{subjectNum}
      </delete>
      
      <update id="confirm" parameterType="apply.model.SubjectDto">
      update subject
      set confirmed = 1
      where subjectNum = #{subjectNum}
      </update>
	
	

	
	

</mapper>
